.navbar-brand{
    font-size: 1.5em;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #ffffff;
}

#produits{
    margin-top: 100px;
}

#produits .row{
    margin-top: 20px;
    margin-left: -10px;
    
}

#produits .card{
    margin: 20px;
    border: none;
    background-color: #ffffff;
    padding-right: 20px;
}

#produits .card-title{
   text-align: center;
}

#produits h5 {
    
    font-size: 1.2em;
    font-weight: 650;
    color:#203354;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }

#produits h6 {
    text-align: center;
    color:#000000;
    font-weight: 450;
    font-weight: bold;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }
.btn {
    position: absolute;
    text-align: center;
    margin-left: 75px;
    background-color: rgb(7, 11, 33);
    border: none;
    font-weight: 450;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    width: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .4s;
    visibility: hidden;
 }

  .card:hover .btn{

     margin-top:-115px;
     visibility: visible;
    
 }

 #footer{
    background-color: #1f2833;
    color: white;
    
}
#footer .list-group{
    margin-bottom: 10px;
}

#footer .list-group-item-dark{
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: #1f2833;
    color: white;
    margin-left: 30px;   
}

#footer ul a{
    font-style: italic;
    color: white;
    font-weight: 400;
    text-decoration: none;
    
}

#footer h2{
    margin-left: 12px;
    margin-top: 20px;
    
}
